@import './variables';

.landing {
	position: relative;
	background: url('../media/arportbg.jpg') no-repeat center center/cover;
	height: 100vh;
	.dark-overlay {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(45, 34, 84, 0.5);
		.landing-inner {
			color: #fff;
			height: 100%;
			display: flex;
			width: 100%;
			margin: auto;
			padding: 0 1rem;
			align-items: center;
			justify-content: space-between;
			@media screen and (max-width: 700px) {
				display: block;
				position: absolute;
				top: 70px;
				right: 0;
			}
			.caption {
				width: 50%;
				margin-top: 4rem;
				span {
					color: $secondary-color;
				}
				h1 {
					font-size: 50px;
					line-height: 1.2;
					@media screen and (max-width: 700px) {
						font-size: 30px;
					}
				}
				@media screen and (max-width: 700px) {
					width: 100%;
					margin-bottom: 2rem;
					p {
						font-size: 15px;
					}
				}
			}
			.form-container {
				margin-bottom: 20px;
				border-radius: 20px;
				width: 50%;
				height: auto;
				padding: 2rem 0;
				background: rgba(45, 34, 84, 0.8);
				form {
					display: flex;
					justify-content: center;
					flex-direction: column;
					height: 100%;
					align-self: center;
					padding: 0 6rem;
					h3 {
						text-align: center;
						margin-bottom: 2rem;
						span {
							color: $secondary-color;
						}
					}
					input[type='text'] {
						margin: 0.3rem 0;
						width: 100%;
						border: 3px solid $primary-color;
						font-size: 1rem;
						border-radius: 5px;
						padding: 15px;
					}
					input[type='date'] {
						margin: 0.3rem 0;
						border-radius: 5px;
						padding: 10px;
					}
					input[type="submit"] {
						display: inline-block;
						border: 0;
						background: $secondary-color;
						color: #fff;
						border-radius: 5px;
						padding: 15px 30px;
						text-transform: uppercase;
						cursor: pointer;
						font-weight: bold;
						font-size: 16px;
						margin-top: 10px;
						&:hover {
							transform: scale(0.98);
						}
					}

					@media screen and (max-width: 700px) {
						padding: 0 2rem;
					}
				}
				@media screen and (max-width: 700px) {
					width: 100%;
					margin-bottom: 2rem;
				}
			}
		}
	}
}
