.saved-trips {
	overflow: visible;
	top: 5rem;
	margin: 0 2rem;
	@media screen and (max-width: 700px) {
		top: 8rem;
		margin: 0;
		button {
			margin-left: 1rem;
		}
	}
	left: 0;
	&.active {
		display: block;
	}
	h3 {
		margin: 1rem 2rem;
		@media screen and (max-width: 700px) {
			margin: 1rem 1rem;
		}
	}
	.trip-items {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		.trip-item {
			width: 40%;
			padding: 0.5rem;
			margin: 1rem 1rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: #fff;
			background-color: rgba(45, 34, 84, 0.9);
			border-left: 3px solid $secondary-color;
			@media screen and (max-width: 700px) {
				width: 100%;
			}
			span {
				color: #ccc;
			}
			button {
				height: 50px;
			}
			p {
				width: 80%;
			}
		}
	}
}
