@import './variables';

.trip {
	overflow: visible;
	top: 5rem;
	left: 0;
	@media screen and (max-width: 700px) {
		top: 8rem;
	}
	&.active {
		display: block;
	}
	.wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		.trip-container {
			width: 80%;
			.country-info {
				display: flex;
				height: 220px;

				justify-content: center;
				.text-content {
					width: 50%;
					padding: 0.5rem;
					margin: 1rem 0;
					color: #fff;
					background-color: rgba(45, 34, 84, 0.9);
					border-left: 3px solid $secondary-color;
					span {
						color: #ccc;
					}
					@media screen and (max-width: 700px) {
						width: 100%;
					}
				}
				@media screen and (max-width: 700px) {
					height: auto;
					flex-wrap: wrap;
				}
				img {
					width: 50%;
					margin: 1rem 1rem;
					height: auto;
					@media screen and (max-width: 700px) {
						width: 100%;
					}
				}
			}
			.location-img {
				display: flex;
				flex-wrap: wrap;
				img {
					height: 10rem;
					width: 49%;
					margin: 0 0.3rem;
					object-fit: cover;
					@media screen and (max-width: 700px) {
						width: 100%;
						margin: 0;
					}
				}
			}
			.field {
				margin: 1rem 0;
				.description {
					display: flex;
					height: 50px;
					align-items: center;
				}
				.content {
					height: 40px;
					width: 100%;
					padding: 0 0.5rem;
					background-color: rgba(45, 34, 84, 0.9);
					border-left: 3px solid $secondary-color;
					p {
						line-height: 40px;
						font-size: 1.4rem;
						color: #ccc;
						@media screen and (max-width: 700px) {
							font-size: 0.5rem;
						}
						span {
							color: #fff;
						}
						.bar {
							color: $secondary-color;
						}
					}
				}
			}
			@media screen and (max-width: 700px) {
				width: 95%;
			}
		}
		.navigation-container {
			display: flex;
			width: 100%;
			justify-content: flex-start;
			margin-bottom: 2rem;
			button {
				display: inline-block;
				border: 0;
				background: $secondary-color;
				color: #fff;
				border-radius: 5px;
				padding: 15px 30px;
				margin-right: 2rem;
				cursor: pointer;
				font-size: 16px;
				margin-top: 10px;
				&:hover {
					transform: scale(0.98);
				}
			}
		}
	}
}
