@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import './landing';
@import './variables';
@import './navbar';
@import './util';
@import './trip';
@import './saved-trips';
@import './buttons';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #fff;
	color: #000;
	font-size: 18px;
	line-height: 1.6;
	h1,
	h2,
	h3,
	p {
		margin-bottom: 10px;
	}

	a {
		text-decoration: none;
		color: #fff;
	}
}

section {
	position: relative;
	display: none;
}
